<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1000000" android:versionName="1.0" package="datauri.service">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="9"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>

    <application>
        <activity android:enabled="true" android:excludeFromRecents="true" android:exported="true" android:launchMode="singleInstance" android:name=".ADUSActivity" android:process="datauri.service" android:stateNotNeeded="true" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="data"/>
            </intent-filter>
        </activity>
    </application>

</manifest>